/* print display */
@media print {
  s-appbar {
    display: none !important;
  }

  #explorer {
    display: none !important;
  }


  #_pmd-originalContent {
    height: min-content !important;
  }

  s-page {
    height: min-content !important;
  }

  s-drawer {
    height: min-content !important;
  }

  body {
    height: min-content !important;
    background-image: none !important;
  }

  html {
    height: min-content !important;
  }
}

@page {
  @top-right {
    content: "页 " counter(pageNumber);
  }
}

/* base frame */

body {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  margin: 0 0 0 0;
  background-image: var(--bg-src);
  user-select: none;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
}

s-page {
  background: rgba(250, 253, 252, var(--bg-alpha-l, 0.8));
  backdrop-filter: var(--bg-blur, blur(0px));
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;
}

s-page[dark] {
  background: rgba(5, 2, 3, var(--bg-alpha-d, 0.82));
  backdrop-filter: var(--bg-blur, blur(0px));
}

s-page[dark] * {
  color-scheme: dark;
}

/* appbar */

s-appbar {
  margin: 0 0 0 0;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* sidebar */

s-drawer {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

#explorer {
  display: flex;
  flex-direction: column;
}

/* editor frame */
s-tab {
  position: sticky;
  top: 0;
  height: 48px;
}
s-carousel {
  width: 100%;
  border: 1px black;
  height: fit-content;
  min-height: calc(100% - 48px);
}

/* popup pannel */
s-bottom-sheet::part(container) {
  min-width: 60%;
  min-height: 40%;
  width: var(--panel-width, fit-content);
  height: var(--panel-height, fit-content);
  max-width: 90%;
  max-height: 80%;
  /* border-radius: 3px; */
}

s-dialog::part(container) {
  min-width: 80%;
  min-height: 60%;
  width: var(--panel-width, fit-content);
  height: var(--panel-height, fit-content);
  max-width: 90%;
  max-height: 80%;
  /* border-radius: 2px; */
}

/* command panel */
#command-panel {
  --panel-width: 70%;
}

#command-panel-input {
  display: grid;
  width: auto;
}

#command-panel-console-scroll {
  border: var(--s-color-outline, #6f7979) solid 1px;
  border-radius: 8px;
  padding: .6em .4em .5em .4em;
}

#command-panel-console {
  margin: 0;
  padding: 0;
  width: calc(100% - .8em - 2px);
  font-family: 'Consolas', 'Monaco', 'Bitstream Vera Sans Mono', 'Lucida Console', 'Courier New', monospace;;
}